
.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}


#notImplementedScotty {
  /* position: relative; */
  /* left: 2vw; */
  width: 50vw;
  opacity: 60%;
}

#notImplementedText {
  color: #686868;
  letter-spacing: -1px;
}
