.textSearchRegion {
	height: 40px;
	width: 60vw;
	align-items: stretch;
	row-gap: 0px;
	justify-content: center;
	margin-top: -0.5vw;
}

.textSearch {
	font-size: 16px;
	border-style: solid;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	padding-left: 1em;
}

.textSearchButton {
	font-size: 16px;
	background-color: #6f747d;
	color: white;
	border: none;
	cursor: pointer;
}

.searchResult {
	margin-top: 3vw;
	max-height: 75vh;
	overflow-y: scroll;
	max-width: 60vw;
}

.searchResultImg {
	width: 12vw;
	max-width: 150px;
	margin: 2vw;
	cursor: pointer;
}