.footer {
  justify-content: space-evenly;
  margin-top: 3vw;
}

.footerItem {
  display: flex;
}

.footerLink {
  background-color: var(--background-color);
  color: var(--btn-unhover-color);
  font-family: "Open Sans";
  font-weight: 100;
  font-size: calc(4px + 0.9vw);
  text-decoration: none;
}

.footerLink:hover {
  color: white;
}

.footerP {
  color: white;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: calc(6px + 0.5vw);
  font-size: calc(4px + 0.9vw);
}