.fullWidth {
  width: calc(100vw + 16px);
  /* width: calc(100vw); */
  margin-left: -16px;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}
.productContent {
  flex-direction: column;
}

.productContent > div {
  background-color: white;
  width: 100vw;
}

.productContent > div > p {
  /* background-color: aqua; */
  margin-left: 5vw;
  font-size: calc(22px + 1.8vw);
}

#tshirts {
  /* border-color: #130d0e;
  border-style: solid; */
  max-width: 80vw;
  padding-left: 5vw;
  justify-content: flex-start;
  align-items: stretch;
  /* align-content: stretch; */
}

.tshirt {
  border-style: solid;
  border-color: var(--font-red);
  border-radius: 30px;
  border-width: 6px;
  margin: 2.3vw;
  padding-bottom: 1vw;
  
  flex-direction: column;
  align-items: flex-start;
  /* max-height: 400px; */
  justify-content: flex-start;
  align-content: flex-start;

  overflow: hidden;
  width: calc(30px + 18vw);
  /* min-width: 700px; */
}

.tshirt img {
  width: calc(30px + 18vw);
}


.tshirtName {
  /* background-color: aquamarine; */
  padding-left: calc(10px + 0.4vw);
  padding-right: calc(10px + 0.4vw);
  color: var(--font-red);
  font-family: “Open Sans”;
  font-size: calc(24px + 0.4vw);
}

.tshirtAvailable {
  /* background-color: wheat; */
  /* padding-left: calc(20px + 0.4vw); */
  color: #585858;
  font-family: “Open Sans”;
  font-size: calc(16px + 0.4vw);
}

.tshirtBtn {
  background-color: var(--background-color);
  border-radius: calc(5px + 0.4vw);
  margin: 6px;
  padding: 0 18px 0 18px;
  height: calc(36px + 1.2vw);
  color: var(--btn-unhover-color);
  font-family: “Open Sans”;
  font-size: calc(16px + 0.4vw);
  text-decoration: none;
}

.tshirtBtn:hover:enabled {
  color: white;
}