.cartItems {
  /* background-color:aqua; */
  width: 50vw;
}

.cartItem {
  width: 50vw;
  border-top: solid 1px var(--background-color);
}

.cartItemDesc > div {
  margin: 0.5vw;
}

.cartItemDesc > div p {
  margin: 3px;
}

.fee {
  background-color:bisque;
  width: 30vw;
  border: solid 1px var(--background-color);
  border-radius: 10px;
  padding: 1vw;
  /* padding-right: 2vw; */
}

.fee p {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.feeTotalDollar {
  border-top: solid 2px var(--background-color);
}